<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title><%= university_name %> - INST377 Group 25</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1>INST 377 Team 25</h1>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/about.html">About Us</a>
        </div>
      </div>
    </nav>
    <div class="sub-bar">
        <a href="/">&larr; Return</a>
    </div>

    <!-- University Info Columns -->
    <div class="columns is-centered is-desktop p-5">
      <div class="column is-6">
        <h1 class="title"><%= university_name %> University Insight</h1>
        <div class="box has-background-primary">
          <h3 class="subtitle is-4">University Details</h3>
          <p class="subtitle is-6"><b>Location</b>: <%= univ_location %>, <%= univ_zip %></p>
          <p class="subtitle is-6 mb-0">
            <b>Application Requirements</b>:
          </p>
          <ul class="mb-3">
          <% if (coalition == "Yes") { %>
            <li>- Coalition App</li>
          <% } %>
          <% if (common_app == "Yes") { %>
            <li>- Common App</li>
          <% } %>
          <% if (required_test_score == "Yes") { %>
            <li>- SAT/ATC Test Scores</li>
          <% } %>
          </ul>

          <a class="button is-white" href="#" target="_blank" rel="noreferrer">Visit University Site</a>
        </div>
        <div class="box has-background-primary">
          <h3 class="subtitle is-4">University Reviews</h3>

          <!-- Dynamic Review -->
          <div class='reviews mb-4' id="university_reviews">
            <% if (typeof(reviews) === "object") { %>
              <%- include('reviews', reviews) %>
              <button class="button is-fullwidth" id="load_all_reviews">Load More Reviews</button>
            <% } else { %>
              <p>This university has no reviews. Be the first!</p>
            <% } %>
          </div>

          <a class="button is-white" href="./review">New Review</a>
        </div>
      </div>
      <div class="column is-6">
        <img src='https://via.placeholder.com/550x350?text=School%20Preview' />
      </div>
    </div>

    <!-- Page Footer -->
    <footer class="footer p-3">
      <div class="content has-text-centered">
        <p>
          &copy; <%= new Intl.DateTimeFormat('en-US', { year: 'numeric'}).format(new Date()) %> INST 377 Team 25
        </p>
      </div>
    </footer>
    <script>
      // Variables
      const rankID = <%= university_id %>;
      const reviewBtn = document.querySelector("#load_all_reviews");

      // Event Handler
      reviewBtn.onclick =  async () => {
        // Validate unsafe input
        if (!rankID || typeof(rankID) !== "number" || rankID <= 0 || rankID >= 15) {
          return false;
        }

        // Fetch Reviews
        const response = await fetch(`../../api/schools/${rankID}/reviews`);
        const reviews = await response.text();
        if (!reviews || typeof(reviews) !== "string") {
          return false;
        }

        // Render Review content
        document.querySelector("#university_reviews").innerHTML = reviews;
      };
    </script>
  </body>
</html>
